# Ignore everything
*

# But not these files...
!.gitignore
!README.md

# if the files to be tracked are in subdirectories
!/Mobs/
!/Mobs/*
!/Skills/
!/Skills/*
!/Items/
!/Items/*
!/DropTables/
!/DropTables/*
